@using SfPricingDev.Helpers;
@using SfPricingDev.Models
@using System.Text
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

<style>
    .pricing-box {
        border-radius: 10px;
        padding: 0 20px;
        margin: auto;
    }
</style>

<div class="pricing-box" style="@GetStyle()">
    <SfTooltip Width="260" Content="@Plan.ToTagLine()">
        <h1><b>@Plan</b></h1>
    </SfTooltip>

@*     <div>@GetPrice()</div>

    @if (Plan == Plan.Flex)
    {
        <SfSlider TValue="int" Width="200" Min="1" Max="25"
                  Value="@quantity">
            <SliderEvents TValue="int" OnChange="OnChange"></SliderEvents>
        </SfSlider>
        <p>slide to select lots traded</p>
    } *@

    <BenefitsList Plan="@Plan"
                  Quantity="@quantity"
                  PrePayAndSave="@prePayAndSave" />

    <CouponBox />
</div>

@code {
    int quantity = 1;
    double price = 0;
    bool prePayAndSave = false;
    string backgroundColor = null!;

    protected override void OnInitialized()
    {
        UpdatePrice();
    }

    [Parameter]
    public Plan Plan { get; set; } = Plan.Free;

    private string GetStyle()
    {
        var sb = new StringBuilder();

        if (Plan == Plan.Flex)
        {
            sb.Append("border:5px solid #ccc;");
            sb.Append("background-color: #f3faf2;");
        }
        else
        {
            sb.Append("border:2px solid #ccc;");
        }

        return sb.ToString();
    }

    public void OnChange(SliderChangeEventArgs<int> args)
    {
        quantity = args.Value;

        UpdatePrice();
    }

    void UpdatePrice()
    {
        price = Pricing.GetPrice(Plan, quantity,
            prePayAndSave == true ? Billing.Year : Billing.Month);
    }

    private string GetPrice() =>
        $"{price:N0} /" + (Plan == Plan.Flex ? MonthOrYear() : "month");

    private string MonthOrYear() => prePayAndSave == true ? "year" : "month";
}