@using SfPricingDev.Helpers;
@using Syncfusion
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Lists;
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Inputs
@using SfPricingDev.Models
@using B = Syncfusion.Blazor.Buttons;

<link rel="stylesheet" href="PricingWidget.css" />

<div class="@GetPlanClasses()" style="@GetPlanBorderStyle()">
    <SfTooltip Content="@Plan.ToTagLine()">
        <h1><b>@Plan</b></h1>
    </SfTooltip>

    <div class="price">
        @if (Plan == Plan.Flex)
        {
            <span>$@price / @MonthOrYear()</span>
        }
        else
        {
            <span>$@price / month</span>
        }
    </div>

    @if (Plan == Plan.Flex)
    {
        <SfSlider TValue="int" Width="200" Min="1" Max="10"
                  Value="@quantity" CssClass="slider-margin-top">
            <SliderEvents TValue="int" OnChange="OnChange"></SliderEvents>
        </SfSlider>
        <p class="slider-caption">slide to select lots traded</p>
    }

    <div class="benefits-container">
        @foreach (var benefit in benefits!)
        {
            <div class="benefit">
                <SfTooltip Content="@benefit.Tooltip">
                    @benefit.GetFragment()
                </SfTooltip>
            </div>
        }
        @if (Plan == Plan.Flex)
        {
            <br />
            <div style="display: flex; align-items: center; justify-content: center;">
                pre-pay & save 20%&nbsp;
                <SfSwitch @bind-Checked="prePayAndSave"
                          ValueChange="Change" TChecked="bool?" />
            </div>
        }
    </div>
    <br />
    <button>Choose Plan</button>
</div>

@code {
    bool? prePayAndSave = false;
    int quantity = 1;
    double price;
    bool showSlider;
    List<Benefit>? benefits;

    protected override void OnInitialized()
    {
        benefits = Plan.ToBenefits(quantity, prePayAndSave == true);
        showSlider = Plan == Plan.Flex;

        UpdatePrice();
    }

    [Parameter]
    public Plan Plan { get; set; } = Plan.Free;

    [Parameter]
    public string? TagLine { get; set; }

    void UpdatePrice()
    {
        price = PricingHelper.GetPrice(Plan, quantity,
            prePayAndSave == true ? Billing.Year : Billing.Month);
    }

    private string GetPlanBorderStyle()
    {
        return Plan == Plan.Flex
            ? "border: 5px solid #ccc;"
            : "border: 2px solid #ccc;";
    }

    private string GetPlanClasses()
    {
        var classes = "plan premium";

        if (Plan == Plan.Flex)
            classes += " preferred-plan";

        return classes;
    }

    public void OnChange(SliderChangeEventArgs<int> args)
    {
        quantity = args.Value;

        UpdatePrice();

        benefits = Plan.ToBenefits(quantity, prePayAndSave == true);
    }

    private void Change(B.ChangeEventArgs<bool?> args) =>
        UpdatePrice();

    private string MonthOrYear() => prePayAndSave == true ? "year" : "month";
}
