@using SfPricingDev.Helpers;
@using Syncfusion
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Lists;
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Inputs
@using SfPricingDev.Models

<link rel="stylesheet" href="PricingWidget.css" />

<div class="@GetPlanClasses()" style="@GetPlanBorderStyle()">
    <SfTooltip Content="@TagLine">
        <h1><b>@Plan</b></h1>
    </SfTooltip>

    <div class="price">
        $@price<span>
            / month
        </span>
    </div>

    @if (Plan == Plan.Flex)
    {
        <SfSlider TValue="int" Width="200" Min="1" Max="10"
                  Value="@quantity" CssClass="slider-margin-top">
            <SliderEvents TValue="int" OnChange="OnChange"></SliderEvents>
        </SfSlider>
        <p class="slider-caption">select a quantity</p>
    }

    <div class="benefits-container">
        @foreach (var benefit in benefits!)
        {
            <div class="benefit">
                <SfTooltip Content="@benefit.Tooltip">
                    @benefit.GetFragment()
                </SfTooltip>
            </div>
        }
    </div>
    <br />
    <button>Choose Plan</button>
</div>

@code {
    bool isChecked = true;
    int quantity = 1;
    double price;
    bool showSlider;
    List<Benefit>? benefits;

    protected override void OnInitialized()
    {
        benefits = Plan.ToBenefits(quantity);
        showSlider = Plan == Plan.Flex;

        UpdatePrice();
    }

    [Parameter]
    public Plan Plan { get; set; } = Plan.Free;

    [Parameter]
    public Billing Billing { get; set; } = Billing.Monthly;

    [Parameter]
    public string? TagLine { get; set; }

    void UpdatePrice()
    {
        price = PricingHelper.GetPrice(
            Plan, 69.0, quantity, Billing, 20.0);
    }

    private string GetPlanBorderStyle()
    {
        return Plan == Plan.Flex
            ? "border: 5px solid #ccc;"
            : "border: 2px solid #ccc;";
    }

    private string GetPlanClasses()
    {
        var classes = "plan premium";

        if (Plan == Plan.Flex)
            classes += " preferred-plan";

        return classes;
    }

    public void OnChange(SliderChangeEventArgs<int> args)
    {
        quantity = args.Value;

        UpdatePrice();

        benefits = Plan.ToBenefits(quantity);
    }
}
